body {
  font-family: "Reem Kufi", sans-serif;
}

h1 {
  text-align: center;
  color: #e89b00;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 18px;
}

.current-date {
  text-align: center;
}

h2 {
  color: #da7015;
}

h2::first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 10px;
  border: 1px solid #e89b00;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #e89b00;
  font-size: 16px;
  line-height: 19px;
  margin: 0 10px;
  padding: 0;
  display: inline;
}

p {
  color: #da7015;
}

.weather-temperature {
  color: #e89b00;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #e89b00;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.today-date {
  color: #eed023;
}
